@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

input {
  background-color: rgb(39, 141, 107);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  color: white;
}

::placeholder {
  color: white;
}
